
:root {
  --gradient-fill: linear-gradient(45deg, #ffeaab, #ffd491, #ffbd7c, #ffa46e, #ff8867, #ff6b68, #fc4a6f, #f11f7b, #de008c, #c3009e, #9b00b2, #5c00c5);
  --subtitle-color: #A5A5A5;
  --playlist-height: 3rem;
}

a, h1, h2, h3, h4, span,
a:hover, h1:hover, h2:hover, h3:hover, h4:hover, span:hover,
a:visited, h1:visited, h2:visited, h3:visited, h4:visited, span:visited {
  text-decoration: none;
}

.radix-themes, .app {
  --default-font-family: 'Montserrat', sans-serif;
  --font-weight-light: 500;
  --font-weight-regular: 600;
  --font-weight-medium: 700;
  --font-weight-bold: 800;
  min-height: calc(100vh - 24px);
  height: 100%;
}

.rt-variant-outline {
  color: white;
  border: white 1px solid;
  font-weight: 500;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.vibes-logo,
.vibes-logo:hover,
.vibes-logo a,
.vibes-logo a:visited
{
  text-decoration: none;
  color: white;
}

.app {
  height: 100%;
}

.gradient-box {
  background: var(--gradient-fill);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.gradient-text {
  background: var(--gradient-fill);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-theme {
  background: linear-gradient(45deg, #fc4a6f, #ff6b68, #ff8867, #ffeaab, #ffa46e, #ffbd7c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fill-height {
    min-height: 100%;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  width: 100%;
}

.landing-h1 {
  font-weight: 700;
  font-size: 104px;
  line-height: 112px;
}

.landing-subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 56px;
  width: 100%;
}

.dashboard-h1 {
  font-size: 72px;
  line-height: 80px;
  width: 1400px;
}

.dashboard-h2,
.dashboard-h2:hover,
.dashboard-h2 a,
.dashboard-h2 a:visited {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.dashboard-subtitle {
  color: var(--subtitle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.current-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 24px;
  width: 100%;
  background-color: white;
}

.theme-h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  padding: 4px;
  color: white
}

.theme-h2 {
  font-weight: 600;
  font-size: 80px;
  line-height: 88px;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.scroll-inside {
  overflow: scroll;
}

.current-playlist-subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  width: 100%;
}

.username-label {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 40px;
}

.username-box {
  width: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  height: 80px;
  border-radius: 4px;
  border: none;
  background-color: #1e1f34;
  color: white;
}

.username-submit {
  height: 80px;
  width: 80px;
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);
  border-radius: 4px;
  border: none;
}

.dialog-input {
  width: 100%;
  padding: 0px 16px;
  margin: 8px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  height: 56px;
  border-radius: 4px;
  border: 1px white solid;
  background-color: #1e1f34;
  color: white;
}

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
}

.search-result {
  width: 100%;
  align-items:center;
}

.search-result-button {
  padding: 8px 24px 8px 16px;
}

.search-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: center;
  background-color: none;
  font-weight: 700;
}

.track-detail {
  font-weight: 500;
}

.search-text {
  height: 100%;
  align-items: center;
}

.playlist-card,
.playlist-card:hover,
.playlist-card a,
.playlist-card a:visited {
  width: 200px;
  text-decoration: none;
}


.album-art {
  width: 100%;
  height: 100%;
}

.svg-icon-white {
  fill: #fff;
  stroke-width: 0px;
}

.svg-icon-black {
  fill: #191414;
  stroke-width: 0px;
}

.plus-icon {
  fill: var(--subtitle-color);
  stroke-width: 0px;
}

.dashed-box {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--subtitle-color);
}

.add-playlist-content {
  width: 100%;
  height: 100%;
}

.add-playlist-text {
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.green-button {
  border-radius: 24px;
  background-color: #1DB954;
  color: #111113;
}

.player-box {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
  width: 100%;
}

.player-h3, .playlist-h1 {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}

.playlist-h2 {
  margin: 8px 0px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.playlist-songs {
  margin-top: 16px;
  gap: 16px;
}

.add-song {
  justify-content: start;
  text-align: left;
  gap: 24px;
  color: white;
  width: 100%;
  padding: 0px 20px;
  height: 56px;
  font-weight: 700;
  font-size: 17px;

}

.filtering {
  margin-top: 28px;
}

.filter-today, .filter-none {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.filter-none {
  opacity: 0.5;
}

.transition {
  background-color: white;
  width: 100%;
  height: 100%;
}

.PlayerRSWP {
  border-radius: 8px !important;
  background: none !important;
  margin: -12px !important;
}

._ContentWrapperRSWP a {
  margin-top: -4px !important;
}

.track-single, .add-song {
  background-color: rgb(30, 30, 30);
}

.track-single p {
  font-size: 16px;
  margin: 0px;
}

.track-image { 
  height: var(--playlist-height);
}

.circle-play {
  margin: 0px 12px;
}

.hide-label {
  display: none;
}

.fyi-text {
  font-size: 16px;
  margin-top: -8px;
}

.submit-button {
  height: 56px;
  width: 56px;
  background-color: var(--accent-9);
  color: var(--accent-9-contrast);
  border-radius: 4px;
  border: none;
  margin-top: 8px;
}

.desktop-box {
  justify-content: center;
}

.desktop-size {
  width: 960px;
}

.fill-gap {
  height: 100%;
}

.fill-width {
  width: 160px;
}